<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobilelayout"
        tools:targetApi="31">
        
        <!-- Main Compose Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Mobilelayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Native Layouts Main Activity -->
        <activity
            android:name=".screennative.MainActivity"
            android:exported="false"
            android:label="Native Layouts"
            android:theme="@style/Theme.Mobilelayout"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <!-- Layout Activities -->
        <activity
            android:name=".screennative.LinearLayoutActivity"
            android:exported="false"
            android:label="Linear Layout"
            android:theme="@style/Theme.Mobilelayout"
            android:parentActivityName=".screennative.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screennative.MainActivity" />
        </activity>
            
        <activity
            android:name=".screennative.RelativeLayoutActivity"
            android:exported="false"
            android:label="Relative Layout"
            android:theme="@style/Theme.Mobilelayout"
            android:parentActivityName=".screennative.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screennative.MainActivity" />
        </activity>
            
        <activity
            android:name=".screennative.ConstraintLayoutActivity"
            android:exported="false"
            android:label="Constraint Layout"
            android:theme="@style/Theme.Mobilelayout"
            android:parentActivityName=".screennative.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screennative.MainActivity" />
        </activity>
        
        <!-- RecyclerView Activity -->
        <activity
            android:name=".screennative.RecyclerViewActivity"
            android:exported="false"
            android:label="RecyclerView Example"
            android:theme="@style/Theme.Mobilelayout"
            android:parentActivityName=".screennative.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screennative.MainActivity" />
        </activity>
        
        <!-- Timeline Activity -->
        <activity
            android:name=".screennative.TimelineActivity"
            android:exported="false"
            android:label="Instagram Timeline"
            android:theme="@style/Theme.Mobilelayout"
            android:parentActivityName=".screennative.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screennative.MainActivity" />
        </activity>
    </application>

</manifest>